



.theme-title1 {
  &:is(.slide-background) {
    background-image: url(inn-bg1.png);
    @include background-full;
  }
  }
  
  
  .theme-title2 {
  &:is(.slide-background) {
    background-image: url(inn-bg2.png);
    @include background-full;
  }
  }
  
    .theme-logo1 {
  &:is(.slide-background) {
    background-image: url(inn-bg3.png);
    @include background-full;
  }
  }
  
    .theme-title3 {
  &:is(.slide-background) {
    background-image: url(inn-bg4.png);
    @include background-full;
  }
  }